annotated-types
anyio
asgiref
click
contourpy
cycler
Django
django-cors-headers
djangorestframework
exceptiongroup
fastapi
fonttools
h11
idna
importlib_resources
joblib
kiwisolver
matplotlib
numpy
packaging
pandas
pillow
psycopg2-binary
pydantic
pydantic_core
pyparsing
python-dateutil
pytz
scikit-learn
scipy
six
sniffio
sqlparse
starlette
threadpoolctl
typing-inspection
typing_extensions
tzdata
uvicorn
zipp
