Django
annotated-types
anyio
asgiref
click
contourpy
cycler
django-cors-headers
django-filter
django-money
djangorestframework
djangorestframework-simplejwt
drf-spectacular
drf-yasg
exceptiongroup
fastapi
fonttools
geopy
h11
idna
importlib_resources
joblib
kiwisolver
matplotlib
numpy
ortools
packaging
pandas
pillow
psycopg2-binary
pydantic
pydantic_core
pyparsing
python-dateutil
pytz
requests
scikit-learn
scipy
six
sniffio
sqlparse
starlette
structlog
threadpoolctl
typing-inspection
typing_extensions
tzdata
uvicorn
xgboost
zipp